* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container-lezioni {
    height: 400px;
    margin: auto;
}

.container-lezioni::after, .container-steps::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    width: 100%;
    font-size: 30px;
    padding: 4%;
    text-align: center;
}

.lezioni-left {
    min-height: 400px;
    float: left;
    position: relative;
}

.lezioni-left::after {
    content: "";
    display: block;
    clear: both;
}

.lezioni-right {
    min-height: 400px;
    float: left;
    position: relative;
}

.lezioni-right::after {
    content: "";
    display: block;
    clear: both;
}

.img-lez {
    margin: auto;
}

.lezioni img {
    width: 100%;
    height: 200px;
    margin: auto;
}

.lezioni h3 {
    font-size: 28px;
    text-align: center;
}

.lezioni p {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin: auto;
    text-align: center;
    padding: 2%;
}

.container-steps {
    margin-top: 5%;
}

.steps {
    margin: auto;
}

